# Capton: Evaluation week 1

In [1]:
import pandas as pd
import requests

# Make a GET request to the SpaceX API
url = "https://api.spacexdata.com/v4/launches"
response = requests.get(url)
data = response.json()

# Convert the response to a DataFrame using pd.json_normalize
df = pd.json_normalize(data)

# Extract the year from the first row of the 'static_fire_date_utc' column
first_row_static_fire_date_utc = df['static_fire_date_utc'].iloc[0]

# Extract the year from the date string
year = pd.to_datetime(first_row_static_fire_date_utc).year

print(f"The year located in the first row in the column static_fire_date_utc is: {year}")

The year located in the first row in the column static_fire_date_utc is: 2006

In [3]:
import pandas as pd
import requests

# Make a GET request to the SpaceX API
url = "https://api.spacexdata.com/v4/launches"
response = requests.get(url)
data = response.json()

# Convert the response to a DataFrame using pd.json_normalize
df = pd.json_normalize(data)

# Print unique values in the 'rocket' column
unique_rockets = df['rocket'].unique()
print("All Rockets:")
for rocket in unique_rockets:
    print(rocket)

All Rockets:
5e9d0d95eda69955f709d1eb
5e9d0d95eda69973a809d1ec
5e9d0d95eda69974db09d1ed

In [4]:
# Print unique values in the 'rocket' column along with their corresponding names
rocket_data = df[['rocket', 'name']].drop_duplicates()
print("All Rockets:")
for index, row in rocket_data.iterrows():
    print(f"{row['rocket']} - {row['name']}")

All Rockets:
5e9d0d95eda69955f709d1eb - FalconSat
5e9d0d95eda69955f709d1eb - DemoSat
5e9d0d95eda69955f709d1eb - Trailblazer
5e9d0d95eda69955f709d1eb - RatSat
5e9d0d95eda69955f709d1eb - RazakSat
5e9d0d95eda69973a809d1ec - Falcon 9 Test Flight
5e9d0d95eda69973a809d1ec - COTS 1
5e9d0d95eda69973a809d1ec - COTS 2
5e9d0d95eda69973a809d1ec - CRS-1
5e9d0d95eda69973a809d1ec - CRS-2
5e9d0d95eda69973a809d1ec - CASSIOPE
5e9d0d95eda69973a809d1ec - SES-8
5e9d0d95eda69973a809d1ec - Thaicom 6
5e9d0d95eda69973a809d1ec - CRS-3
5e9d0d95eda69973a809d1ec - OG-2 Mission 1
5e9d0d95eda69973a809d1ec - AsiaSat 8
5e9d0d95eda69973a809d1ec - AsiaSat 6
5e9d0d95eda69973a809d1ec - CRS-4
5e9d0d95eda69973a809d1ec - CRS-5
5e9d0d95eda69973a809d1ec - DSCOVR
5e9d0d95eda69973a809d1ec - ABS-3A / Eutelsat 115W B
5e9d0d95eda69973a809d1ec - CRS-6
5e9d0d95eda69973a809d1ec - TürkmenÄlem 52°E / MonacoSAT
5e9d0d95eda69973a809d1ec - CRS-7
5e9d0d95eda69973a809d1ec - OG-2 Mission 2
5e9d0d95eda69973a809d1ec - Jason 3
5e9d0d95eda69973a809d1ec - SES-9
5e9d0d95eda69973a809d1ec - CRS-8
5e9d0d95eda69973a809d1ec - JCSAT-2B
5e9d0d95eda69973a809d1ec - Thaicom 8
5e9d0d95eda69973a809d1ec - ABS-2A / Eutelsat 117W B
5e9d0d95eda69973a809d1ec - CRS-9
5e9d0d95eda69973a809d1ec - JCSAT-16
5e9d0d95eda69973a809d1ec - Amos-6
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 1
5e9d0d95eda69973a809d1ec - CRS-10
5e9d0d95eda69973a809d1ec - EchoStar 23
5e9d0d95eda69973a809d1ec - SES-10
5e9d0d95eda69973a809d1ec - NROL-76
5e9d0d95eda69973a809d1ec - Inmarsat-5 F4
5e9d0d95eda69973a809d1ec - CRS-11
5e9d0d95eda69973a809d1ec - BulgariaSat-1
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 2
5e9d0d95eda69973a809d1ec - Intelsat 35e
5e9d0d95eda69973a809d1ec - CRS-12
5e9d0d95eda69973a809d1ec - FormoSat-5
5e9d0d95eda69973a809d1ec - Boeing X-37B OTV-5
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 3
5e9d0d95eda69973a809d1ec - SES-11 / Echostar 105
5e9d0d95eda69973a809d1ec - KoreaSat 5A
5e9d0d95eda69973a809d1ec - CRS-13
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 4
5e9d0d95eda69973a809d1ec - ZUMA
5e9d0d95eda69973a809d1ec - SES-16 / GovSat-1
5e9d0d95eda69974db09d1ed - Falcon Heavy Test Flight
5e9d0d95eda69973a809d1ec - Paz / Starlink Demo
5e9d0d95eda69973a809d1ec - Hispasat 30W-6
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 5
5e9d0d95eda69973a809d1ec - CRS-14
5e9d0d95eda69973a809d1ec - TESS
5e9d0d95eda69973a809d1ec - Bangabandhu-1
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 6
5e9d0d95eda69973a809d1ec - SES-12
5e9d0d95eda69973a809d1ec - CRS-15
5e9d0d95eda69973a809d1ec - Telstar 19V
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 7
5e9d0d95eda69973a809d1ec - Merah Putih
5e9d0d95eda69973a809d1ec - Telstar 18V
5e9d0d95eda69973a809d1ec - SAOCOM 1A
5e9d0d95eda69973a809d1ec - Es’hail 2
5e9d0d95eda69973a809d1ec - SSO-A
5e9d0d95eda69973a809d1ec - CRS-16
5e9d0d95eda69973a809d1ec - GPS III SV01
5e9d0d95eda69973a809d1ec - Iridium NEXT Mission 8
5e9d0d95eda69973a809d1ec - Nusantara Satu (PSN-6) / S5 / Beresheet
5e9d0d95eda69973a809d1ec - CCtCap Demo Mission 1
5e9d0d95eda69974db09d1ed - ArabSat 6A
5e9d0d95eda69973a809d1ec - CRS-17
5e9d0d95eda69973a809d1ec - Starlink v0.9
5e9d0d95eda69973a809d1ec - RADARSAT Constellation
5e9d0d95eda69974db09d1ed - STP-2
5e9d0d95eda69973a809d1ec - CRS-18
5e9d0d95eda69973a809d1ec - Amos-17
5e9d0d95eda69973a809d1ec - Starlink-1
5e9d0d95eda69973a809d1ec - CRS-19
5e9d0d95eda69973a809d1ec - JCSat 18 / Kacific 1
5e9d0d95eda69973a809d1ec - Starlink-2
5e9d0d95eda69973a809d1ec - Crew Dragon In Flight Abort Test
5e9d0d95eda69973a809d1ec - Starlink-3
5e9d0d95eda69973a809d1ec - Starlink-4
5e9d0d95eda69973a809d1ec - CRS-20
5e9d0d95eda69973a809d1ec - Starlink-5
5e9d0d95eda69973a809d1ec - Starlink-6
5e9d0d95eda69973a809d1ec - CCtCap Demo Mission 2
5e9d0d95eda69973a809d1ec - Starlink-7
5e9d0d95eda69973a809d1ec - Starlink-8 & SkySat 16-18
5e9d0d95eda69973a809d1ec - GPS III SV03 (Columbus)
5e9d0d95eda69973a809d1ec - ANASIS-II
5e9d0d95eda69973a809d1ec - Starlink-9 (v1.0) & BlackSky Global 5-6
5e9d0d95eda69973a809d1ec - Starlink-10 (v1.0) & SkySat 19-21
5e9d0d95eda69973a809d1ec - SAOCOM 1B, GNOMES-1, Tyvak-0172
5e9d0d95eda69973a809d1ec - Starlink-11 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-12 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-13 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-14 (v1.0)
5e9d0d95eda69973a809d1ec - GPS III SV04 (Sacagawea)
5e9d0d95eda69973a809d1ec - Crew-1
5e9d0d95eda69973a809d1ec - Sentinel-6 Michael Freilich
5e9d0d95eda69973a809d1ec - Starlink-15 (v1.0)
5e9d0d95eda69973a809d1ec - CRS-21
5e9d0d95eda69973a809d1ec - SXM-7
5e9d0d95eda69973a809d1ec - NROL-108
5e9d0d95eda69973a809d1ec - Turksat 5A
5e9d0d95eda69973a809d1ec - Starlink-16 (v1.0)
5e9d0d95eda69973a809d1ec - Transporter-1
5e9d0d95eda69973a809d1ec - Starlink-18 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-19 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-17 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-20 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-21 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-22 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-23 (v1.0)
5e9d0d95eda69973a809d1ec - Crew-2
5e9d0d95eda69973a809d1ec - Starlink-24 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-25 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-27 (v1.0)
5e9d0d95eda69973a809d1ec - Starlink-26 (v1.0) + Capella-6 + Tyvak-0130
5e9d0d95eda69973a809d1ec - Starlink-28 (v1.0)
5e9d0d95eda69973a809d1ec - CRS-22 & IROSA
5e9d0d95eda69973a809d1ec - SXM-8
5e9d0d95eda69973a809d1ec - GPS III SV05
5e9d0d95eda69973a809d1ec - Transporter-2
5e9d0d95eda69973a809d1ec - CRS-23
5e9d0d95eda69973a809d1ec - Starlink 2-1 (v1.5)
5e9d0d95eda69973a809d1ec - Inspiration4
5e9d0d95eda69973a809d1ec - Crew-3
5e9d0d95eda69973a809d1ec - Starlink 4-1 (v1.5)
5e9d0d95eda69973a809d1ec - DART
5e9d0d95eda69973a809d1ec - Starlink 4-3 (v1.5)
5e9d0d95eda69973a809d1ec - IXPE
5e9d0d95eda69973a809d1ec - Starlink 4-4 (v1.5)
5e9d0d95eda69973a809d1ec - Türksat 5B
5e9d0d95eda69973a809d1ec - CRS-24
5e9d0d95eda69973a809d1ec - Starlink 4-5 (v1.5)
5e9d0d95eda69973a809d1ec - Transporter-3
5e9d0d95eda69973a809d1ec - Starlink 4-6 (v1.5)
5e9d0d95eda69973a809d1ec - CSG-2
5e9d0d95eda69973a809d1ec - NROL-87
5e9d0d95eda69973a809d1ec - Starlink 4-7 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-8 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-11 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-9 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-10 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-12 (v1.5)
5e9d0d95eda69973a809d1ec - Transporter-4
5e9d0d95eda69973a809d1ec - Ax-1
5e9d0d95eda69973a809d1ec - NROL-85
5e9d0d95eda69973a809d1ec - Starlink 4-14 (v1.5)
5e9d0d95eda69973a809d1ec - Crew-4
5e9d0d95eda69973a809d1ec - Starlink 4-16 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-17 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-13 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-15 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-18 (v1.5)
5e9d0d95eda69973a809d1ec - Transporter-5
5e9d0d95eda69973a809d1ec - Nilesat-301
5e9d0d95eda69973a809d1ec - Starlink 4-19 (v1.5)
5e9d0d95eda69973a809d1ec - SARah 1
5e9d0d95eda69973a809d1ec - Globalstar FM15
5e9d0d95eda69973a809d1ec - SES-22
5e9d0d95eda69973a809d1ec - Starlink 4-21 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 3-1 (v1.5)
5e9d0d95eda69973a809d1ec - CRS-25
5e9d0d95eda69973a809d1ec - Starlink 4-22 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 3-2 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-25 (v1.5)
5e9d0d95eda69973a809d1ec - KPLO
5e9d0d95eda69973a809d1ec - Starlink 4-26 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 3-3 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-27 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-23 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 3-4 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-20 (v1.5) & Sherpa LTC-2/Varuna-TDM
5e9d0d95eda69973a809d1ec - Starlink 4-2 (v1.5) & Blue Walker 3
5e9d0d95eda69973a809d1ec - Starlink 4-34 (v1.5)
5e9d0d95eda69973a809d1ec - Starlink 4-35 (v1.5)
5e9d0d95eda69973a809d1ec - Crew-5
5e9d0d95eda69974db09d1ed - USSF-44
5e9d0d95eda69973a809d1ec - Starlink 4-36 (v1.5)
5e9d0d95eda69973a809d1ec - Galaxy 33 (15R) & 34 (12R)
5e9d0d95eda69973a809d1ec - Hotbird 13F
5e9d0d95eda69973a809d1ec - Hotbird 13G
5e9d0d95eda69973a809d1ec - Galaxy 31 (23R) & 32 (17R)
5e9d0d95eda69973a809d1ec - Eutelsat 10B
5e9d0d95eda69973a809d1ec - ispace Mission 1 & Rashid
5e9d0d95eda69973a809d1ec - CRS-26
5e9d0d95eda69973a809d1ec - Starlink 4-37 (v1.5)
5e9d0d95eda69973a809d1ec - O3b mPower 1,2
5e9d0d95eda69973a809d1ec - SWOT
5e9d0d95eda69973a809d1ec - SES-18 & SES-19
5e9d0d95eda69973a809d1ec - Transporter-6
5e9d0d95eda69973a809d1ec - TTL-1
5e9d0d95eda69973a809d1ec - WorldView Legion 1 & 2
5e9d0d95eda69974db09d1ed - Viasat-3 & Arcturus
5e9d0d95eda69973a809d1ec - O3b mPower 3.4

In [5]:
# Filter out Falcon 1 launches
falcon9_launches = df[df['rocket'] == '5e9d0d95eda69973a809d1ec']

# Print the number of Falcon 9 launches after removing Falcon 1 launches
print(f"Number of Falcon 9 launches after removing Falcon 1 launches: {len(falcon9_launches)}")

Number of Falcon 9 launches after removing Falcon 1 launches: 195

In [24]:
import requests

# Step 2: Make an API Request
response = requests.get('https://api.spacexdata.com/v4/launches')
launch_data = response.json()

# Step 3: Filter Falcon 9 Launches
falcon_9_launches = [launch for launch in launch_data if launch.get('rocket', {}).get('name', '').startswith('F9')]

falcon_9_launches

AttributeError: 'str' object has no attribute 'get'

In [ ]:
# Step 4: Count Falcon 9 Launches
num_falcon_9_launches = len(falcon_9_launches)

# Print the result
print(f"The number of Falcon 9 launches after removing Falcon 1 launches is: {num_falcon_9_launches}")

In [6]:
# Global variables 
BoosterVersion = []
PayloadMass = []
Orbit = []
LaunchSite = []
Outcome = []
Flights = []
GridFins = []
Reused = []
Legs = []
LandingPad = []
Block = []
ReusedCount = []
Serial = []
Longitude = []
Latitude = []

# Function to get booster information
def get_booster_info(booster_id):
    global BoosterVersion
    if booster_id:  # Check if booster_id is not None
        response = requests.get(f'https://api.spacexdata.com/v4/rockets/{booster_id}').json()
        if response:
            booster_data = response.get('name')
            if booster_data:  # Check if booster_data is not None
                BoosterVersion.append(booster_data)
            else:
                BoosterVersion.append(None)
        else:
            BoosterVersion.append(None)
    else:
        BoosterVersion.append(None)


# Function to get payload information
def get_payload_info(payload_id):
    global PayloadMass, Orbit
    payload_url = f'https://api.spacexdata.com/v4/payloads/{payload_id}'
    response = requests.get(payload_url)
    if response.status_code == 200:
        payload_data = response.json()
        PayloadMass.append(payload_data.get('mass_kg'))
        Orbit.append(payload_data.get('orbit'))
    else:
        PayloadMass.append(None)
        Orbit.append(None)

# Function to get launchpad information
def get_launchpad_info(launchpad_id):
    global LaunchSite, Longitude, Latitude
    launchpad_url = f'https://api.spacexdata.com/v4/launchpads/{launchpad_id}'
    response = requests.get(launchpad_url)
    if response.status_code == 200:
        launchpad_data = response.json()
        LaunchSite.append(launchpad_data.get('name'))
        Longitude.append(launchpad_data.get('longitude'))
        Latitude.append(launchpad_data.get('latitude'))
    else:
        LaunchSite.append(None)
        Longitude.append(None)
        Latitude.append(None)

# Function to get core information
def get_core_info(core_id):
    global Outcome, Flights, GridFins, Reused, Legs, LandingPad, Block, ReusedCount, Serial
    core_url = f'https://api.spacexdata.com/v4/cores/{core_id}'
    response = requests.get(core_url)
    if response.status_code == 200:
        core_data = response.json()
        Outcome.append(core_data.get('landing_outcome'))
        Flights.append(core_data.get('flights'))
        GridFins.append(core_data.get('gridfins'))
        Reused.append(core_data.get('reused'))
        Legs.append(core_data.get('legs'))
        LandingPad.append(core_data.get('landpad'))
        Block.append(core_data.get('block'))
        ReusedCount.append(core_data.get('reuse_count'))
        Serial.append(core_data.get('serial'))
    else:
        Outcome.append(None)
        Flights.append(None)
        GridFins.append(None)
        Reused.append(None)
        Legs.append(None)
        LandingPad.append(None)
        Block.append(None)
        ReusedCount.append(None)
        Serial.append(None)

# Loop through the dataframe and call functions
for index, row in df.iterrows():
    get_booster_info(row['rocket'])
    get_payload_info(row['payloads'])
    get_launchpad_info(row['launchpad'])
    get_core_info(row['cores'])

# Create a new dataframe
new_data = pd.DataFrame({
    'BoosterVersion': BoosterVersion,
    'PayloadMass': PayloadMass,
    'Orbit': Orbit,
    'LaunchSite': LaunchSite,
    'Outcome': Outcome,
    'Flights': Flights,
    'GridFins': GridFins,
    'Reused': Reused,
    'Legs': Legs,
    'LandingPad': LandingPad,
    'Block': Block,
    'ReusedCount': ReusedCount,
    'Serial': Serial,
    'Longitude': Longitude,
    'Latitude': Latitude
})

In [8]:
new_data.head()

,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,Falcon 1,None,None,Kwajalein Atoll,None,None,None,None,None,None,None,None,None,167.743129,9.047721
1,Falcon 1,None,None,Kwajalein Atoll,None,None,None,None,None,None,None,None,None,167.743129,9.047721
2,Falcon 1,None,None,Kwajalein Atoll,None,None,None,None,None,None,None,None,None,167.743129,9.047721
3,Falcon 1,None,None,Kwajalein Atoll,None,None,None,None,None,None,None,None,None,167.743129,9.047721
4,Falcon 1,None,None,Kwajalein Atoll,None,None,None,None,None,None,None,None,None,167.743129,9.047721

In [10]:
new_data.shape

(205, 15)

In [11]:
new_data[["LandingPad"]]

    LandingPad
0         None
1         None
2         None
3         None
4         None
..         ...
200       None
201       None
202       None
203       None
204       None

[205 rows x 1 columns]

In [9]:
# After the data collection process
# Count the number of missing values in the 'landingPad' column
missing_values = LandingPad.count(None)

# Print the result
print(f"Number of missing values in the 'landingPad' column: {missing_values}")

Number of missing values in the 'landingPad' column: 205

In [25]:
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

In [26]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857